nav {
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 7.5vw;
    display: flex;
    width: 100vw;
    z-index: 500;
    box-shadow: $light-shadow;
    background-color: rgba(255, 255, 255, 0.8);

    &:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 100rem rgba(255, 255, 255, 0.3);
        -webkit-filter: blur(10px);
        filter: blur(10px);


    }


    &-logo {

        mix-blend-mode: luminosity;

        svg {
            fill: $dark-blue;
            width: 5rem;
            display: block;
        }


        img {
            width: 2rem;
            display: block;
        }
    }

    &-menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;


        .nav-phone {
            display: none;
        }

        .menu-btn {
            position: relative;
            display: block;
            width: 3rem;
            height: 3rem;





            &:hover {
                -webkit-animation: animate-hue 400ms ease infinite alternate;
                animation: animate-hue 400ms ease infinite alternate;


            }

            button {
                cursor: pointer;
                border: none;
                outline: none;
                display: block;
                display: block;
                height: 3px;
                width: 3.5rem;
                background-color: $accent-color;




                &::after {
                    content: "MENU";
                    position: absolute;
                    width: 100%;
                    font-size: 1.2rem;
                    bottom: 0;
                    font-weight: 600;
                    left: 0;
                    text-align: right;
                    letter-spacing: 0.3px;
                    color: $accent-color;
                    line-height: 1;
                    display: block;

                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 3.5rem;
                    height: 3px;
                    background-color: inherit;
                    top: 1rem;

                    left: 0;

                }
            }

        }
    }

    .navfull {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $dark-blue;
        z-index: 200;
        // transform: translateX(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.navfull-link {

    &--item {
        font-size: $step03;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: lowercase;
        font-family: $heading-font;
        color: $white;
        position: relative;
        text-align: center;


        &::after {
            content: "";
            position: absolute;
            width: 120%;
            height: 4px;
            background-color: $accent-color;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            pointer-events: none;
            transition: all 300ms ease;
            mix-blend-mode: hard-light;

        }

        &:hover::after,
        &:active::after {
            transform: translate(-50%, -50%) scale(1);
        }

    }
}