.scale-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-gap {
    margin-bottom: 15rem !important;

    @include breakpoint(phone) {
        margin-bottom: 5rem !important;
    }
}

.margin-bottom-large {
    margin-bottom: 5.12rem !important;
}

.margin-bottom-medium {
    margin-bottom: 3.2rem !important;
}

.margin-bottom-small {
    margin-bottom: 1.6rem !important;
}

.text-accent {
    color: $accent-color !important;
}

.text-black {
    color: $dark-blue !important;
}

.text-white {
    color: $white !important;
}

.text-light-grey {
    color: $light-grey !important;
}

// .animated-text-bg {
//     font-weight: 600 !important;
//     background-image: url("images/green2.jpg") !important;
//     background-position: center;
//     background-repeat: no-repeat !important;
//     background-size: 300% !important;
//     -webkit-text-fill-color: transparent !important;
//     -webkit-background-clip: text !important;
//     animation: move linear 25s alternate infinite !important;
// }

// // Animated text Keyframe
// @keyframes move {
//     0% {
//         background-position: top;
//     }

//     100% {
//         background-position: bottom;
//     }
// }